<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My eCommerce Site</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Welcome to My Shop</h1>
  <div id="products">
    <!-- We'll list products here soon -->
  </div>
</body>
</html>
